<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include partials/head.ejs %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12 pipes">
        <a href="/">
          <img class="logo" src="https://www.themoviedb.org/assets/2/v4/logos/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg" alt="" width="66px">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="search">
          <div class="search-content">
            <form id="search_form" class="form-inline active-cyan-4" action="/" method="post">
              <input autocomplete="off" class="form-control search-input" maxlength="100" name="search_criteria" placeholder="Search" type="text" value="<%= search_txt %>">
              <button class="search-submit" type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="movies-list-wrap">
          <div class="ml-title"><span><%= title %></span></div>
          <div class="movies-list">
            <% for (var i=0; i < movies.length; i++) { %>
              <%- include('partials/movie_item.ejs', {movie: movies[i]}); %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include partials/scripts.ejs %>
</body>

</html>
